body {
    font-family: Open Sans, Arial;
    color: #000000;
    font-size: 16px;
    margin: 3em;
    padding-bottom: 1em;
    line-height: 1.4;
    text-align: center;
}

img {
    width: 800px;
    max-width: 100%;
    height: auto;
}

h1 {
    padding: 1em;
}